.grid-container {
  width: 100%;
  min-width: 100%;
  background-color: var(--darkGrey);
  /* display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas:
    "nav"
    "single-project"
    "contact-block"
    "project-cards"
    "footer";
  min-height: 100vh; */
}

.section-spacing {
  padding: var(--section-padding-web);
}

.nav {
  grid-area: nav;
}

.single-project {
  grid-area: single-project;
}

.contact-block {
  grid-area: contact-block;
  display: flex;
  justify-content: center;
}

.project-cards {
  grid-area: project-cards;
}

.project-cards h2 {
  color: var(--white);
  font-size: var(--p--step-0);
  text-align: center;
  padding-bottom: 2rem;
}

.cards-container {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding-bottom: 3rem;
}

.link {
  display: flex;
  justify-content: center;
}

.footer {
  grid-area: footer;
}
