.grid-container {
  width: 100%;
  min-width: 100%;
  background-color: var(--darkGrey);
}

.section-spacing {
  padding: var(--section-padding-web);
}

.single-project {
  padding: var(--section-padding-web);
}

.contact-block {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.link {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 1280px) {
  .section-spacing {
    padding: var(--section-padding-lap);
  }
}

@media only screen and (max-width: 769px) {
  .section-spacing {
    padding: var(--section-padding-tab);
  }
}

@media only screen and (max-width: 480px) {
  .section-spacing {
    padding: var(--section-padding-mob);
  }
}