.contactblock-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

.contactblock-container p {
  color: var(--white);
  font-size: var(--p--step-2);
}

@media only screen and (max-width: 1280px) {
  .contactblock-container p {
    font-size: var(--p--step-0);
  }
}

@media only screen and (max-width: 769px) {
.contactblock-container{
  flex-direction: column;
  gap: 2rem;
}
}
