.hamburger-button {
  border: none;
  color: var(--white);
  background-color: transparent;
  position: relative;
  z-index: 100;
}

@media screen and (min-width: 950px) {
  .hamburger-button {
    display: none;
  }
}
