.header-container {
  background-color: var(--darkGrey);
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.nav-btn-container {
  display: flex;
  align-items: center;
  gap: 50px;
}
