.header-container {
  background-color: var(--darkGrey);
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.header-links {
  display: flex;
  align-items: center;
  gap: 50px;
}

@media screen and (max-width: 950px) {
  .header-container {
    padding: 0 30px;
  }
  .header-links {
    width: 20px;
  }
}
