.navlinks-web {
  display: flex;
  gap: 3.125rem;
}

.navlinks {
  text-transform: uppercase;
  color: var(--white);
  font-size: 1rem;
  font-weight: bold;
}

.changeLanguage-btn {
  color: var(--red);
  border: 2px solid var(--red);
  padding: 0.625rem;
  font-weight: bold;
  background-color: transparent;
}

/* Media query for screens with a width of 750px or lower */
@media screen and (max-width: 950px) {
  .navlinks-web {
    display: none;
  }
  .changeLanguage-btn {
    display: none;
  }

  .navlinks-mobile {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    background-color: var(--darkGrey);
    position: absolute;
    top: 6.25rem;
    left: 0;
    width: 100%;
    padding: 2.5rem;
  }

  .navlinks-mobile a {
    color: var(--white);
    font-size: 1rem;
    font-weight: bold;
  }
}
