.navlinks-web {
  display: flex;
  gap: 3.125rem;
}

.navlinks {
  text-transform: uppercase;
  color: var(--white);
  font-size: var(--p--step--1);
  font-weight: var(--font-weight-thick);
  position: relative;
}

.navlinks-active {
  border-bottom: 2px solid var(--red);
  text-transform: uppercase;
  color: var(--white);
  font-size: var(--p--step--1);
  font-weight: var(--font-weight-thick);
  position: relative;
}

.navlinks::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.2s ease-in-out;
  z-index: 1;

}

.navlinks:hover::after {
  transform: scaleX(1);
}

.changeLanguage-btn {
  color: var(--red);
  border: 2px solid var(--red);
  padding: 0.625rem;
  font-weight: var(--font-weight-thick);
  background-color: transparent;
  display: inline;
  border-radius: var(--border-radius-btn);
  position: relative;
  z-index: 100;
}

.changeLanguage-btn:hover {
  cursor: pointer;
  color: var(--white);
  border: 2px solid var(--white);
}

@media screen and (max-width: 950px) {
  .navlinks-web {
    display: none;
  }
  .navlinks-mobile {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    background-color: var(--darkGrey);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 8rem 2.5rem;
    z-index: 1;
  }
}
