.image {
  width: 500px;
  height: 400px;
}

.image img{
  width: 100%;
}

.container {
  background-color: var(--grey);
  padding: 4rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* .slider {
  display: flex;
  overflow: hidden;
  position: relative;
}

.image {
  width: 100%;
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.image.active {
  opacity: 1;
  transform: translateX(0);
}

.image.next {
  opacity: 1;
  transform: translateX(100%);
}

.image.prev {
  opacity: 1;
  transform: translateX(-100%);
} */


.container button {
  border-radius: 50%;
  padding: 0.2rem;
  background-color: var(--red);
  border: none;
  display: flex;
}

@media only screen and (max-width: 1280px) {
 
}

@media only screen and (max-width: 769px) {
 .container button{
  display: block;
 }
}

@media only screen and (max-width: 480px) {

}