.services-container {
  background-color: var(--darkGrey);
}

.cards-section {
  padding: var(--section-padding-web);
}

.cards-section h1 {
  color: var(--white);
  padding-bottom: 5rem;
}

.footer {
  padding: var(--section-padding-web);
  display: flex;
  background-color: var(--grey);
}


@media only screen and (max-width: 1280px) {
  .cards-section {
    padding: var(--section-padding-lap);
  }
  .footer {
    padding: var(--section-padding-lap);
  }
}

@media only screen and (max-width: 769px) {
  .cards-section {
    padding: var(--section-padding-tab);
  }
  .cards-section h1 {
    padding-bottom: 2rem;
  }
  .footer {
    padding: var(--section-padding-tab);
  }
}

@media only screen and (max-width: 480px) {
  .cards-section {
    padding: var(--section-padding-mob);
  }

  .footer {
    padding: var(--section-padding-mob);
  }
}

