.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto 568px auto auto;
  grid-template-areas:
    "nav"
    "hero"
    "services"
    "job-opportunities"
    "projects"
    "footer";
  min-height: 100vh;
}

.section-spacing {
  padding: var(--section-padding-web);
}

.background-image {
  position: relative;
  grid-area: hero;
  background-image: url(../../images/construction-worke.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlay);
  }
}

.nav {
  position: relative;
  z-index: 10;
  grid-area: nav;
}

.hero {
  position: relative;
  z-index: 1;
  grid-area: hero;
  display: flex;
  flex-direction: column;
}

.services {
  grid-area: services;
  background-color: var(--darkGrey);
}

.job-opportunities {
  grid-area: job-opportunities;
  background-color: var(--grey);
}

.projects {
  grid-area: projects;
  background-color: var(--darkGrey);
}

.footer {
  grid-area: footer;
  background-color: var(--grey);
}

@media screen and (max-width: 1280px) {
  .section-spacing {
    padding: var(--section-padding-lap);
  }
}

@media screen and (max-width: 960px) {
  .section-spacing {
    padding: var(--section-padding-mobile);
  }
}
