.contact-btn {
  display: inline-block;
  background-color: var(--red);
  color: var(--white);
  padding: 1rem 4.375rem;
  text-transform: uppercase;
  font-weight: 300;
}

.contact-btn:hover {
  cursor: pointer;
}
