.link-content {
  color: var(--red);
  font-weight: var(--font-weight-thick);
  font-size: var(--p--step-0);
  text-decoration: underline;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.link-content:hover {
  text-decoration: underline;
}
