.footer-container {
  color: var(--white);
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 4rem;
}

.footer-container a {
  color: var(--white);
}

.footer-container h4 {
  font-size: var(--p--step-0);
  font-weight: 400;
  margin-bottom: 1rem;
}

.footer-container li {
  margin-bottom: 1rem;
}

.list-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

@media only screen and (max-width: 560px) {
  .footer-container {
    gap: 2rem;
  }
}
