.about-container {
  background-color: var(--darkGrey);
}

/* .nav {
  position: relative;
  z-index: 10;
  grid-area: nav;
} */

.content-container {
  display: flex;
  padding: var(--section-padding-web);
  width: 100%;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
  grid-template-areas:
    "text text top-image top-image"
    "text text small-images small-images";
}

.text-container {
  grid-area: text;
  color: var(--white);
  width: 100%;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.text-container h1 {
  font-size: var(--h--step-0);
}

.text-container p {
  font-size: var(--p--step-0);
}

.subheading {
  font-weight: bold;
  font-size: var(--p--step-1);
}

.top-image-wrapper {
  grid-area: top-image;
  width: 100%;
  /* height: auto; */
}

.top-image-wrapper img {
  width: 100%;
  /* height: 100vh; */
  /* overflow: hidden; */
}

.small-image-container {
  grid-area: small-images;
  display: flex;
  width: 100%;
  /* height: auto; */
  /* height: 100%; */
  gap: 0.5rem;
}

.small-image-container img {
  width: 100%;
  overflow: hidden;
  /* height: auto; */
  object-fit: cover;
}

.contact-block {
  padding: var(--section-padding-web);
  display: flex;
  justify-content: center;
  background-color: var(--grey);
}

.footer {
  padding: var(--section-padding-web);
  display: flex;
  justify-content: center;
}
