.single-project-container {
  color: var(--white);
}

.image-info-container {
  position: relative;
}

.image {
  width: 100%;
  height: 600px;
}

.info {
  background-color: var(--grey);
  width: 30%;
  height: auto;
  position: absolute;
  right: 0;
  bottom: -10rem;
  padding: 2rem;
}

.info-top {
  width: auto;
  display: flex;
  justify-content: space-between;
}

.info h2 {
  padding-bottom: 2rem;
}

.info p {
  padding-bottom: 1rem;
  font-size: var(--p--step--1);
  font-weight: var(--font-weight-thin);
}

.line {
  border: 1px solid var(--red);
  margin-bottom: 1rem;
}

.service-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.service-icon {
  color: var(--red);
  font-size: 32px;
}

.service-wrapper p {
  font-size: var(--p--step-0);
  text-transform: capitalize;
}

.project-story-container {
  width: 60%;
}

.project-story-container h3 {
  padding: 2rem 0;
}

.project-story-container p {
  font-size: var(--p--step-0);
  font-weight: var(--font-weight-thin);
}

@media only screen and (max-width: 1280px) {
  .image {
    height: 400px;
  }
.info{
  width: 30%;
}
}

@media only screen and (max-width: 900px) {
  .image {
    height: auto;
  }
  .info {
    position: static;
    width: 100%; 
    bottom: 0; 
    margin: 0;
    padding: .5rem;
   
  }
  .project-story-container{
    width: 100%;
  }
}
