.projects-container {
  background-color: var(--darkGrey);
}

.big-card h1{
  color: var(--white);
  margin-bottom: 2rem;
  }

.section-spacing {
  padding: var(--section-padding-web);

}

.contact-block{
  background-color: var(--grey);
}

@media only screen and (max-width: 1280px) {
  .section-spacing {
    padding: var(--section-padding-lap);
  }
}

@media only screen and (max-width: 769px) {
  .section-spacing {
    padding: var(--section-padding-tab);
  }
  .big-card{
    padding: 0 4rem;
  }
}

@media only screen and (max-width: 480px) {
  .section-spacing {
    padding: var(--section-padding-mob);
  }
  .big-card{
    padding: 0 2rem;
  }

}