.projects-container {
  background-color: var(--darkGrey);
}

.section-spacing {
  padding: var(--section-padding-web);
  display: flex;
  flex-direction: column;
}

.small-cards-container {
  width: 100%;
}

/* .contact-block {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
} */
