.card-wrapper {
  width: 470px;
  height: 300px;
  position: relative;
}

.image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.text-box {
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 0;
  background-color: var(--darkGrey);
  width: 200px;
  height: 72px;
  padding: 1rem 0 0 1rem;
}

.project-name {
  color: var(--white);
  font-size: var(--p--step-0);
  margin-bottom: 6px;
}

.project-date {
  color: var(--red);
}

@media screen and (max-width: 850px) {
  .card-wrapper:nth-child(n + 4):nth-child(-n + 6) {
    display: none;
  }
}
