.slider-image{
    width: 100px;
    width: 100%; /* Adjust as needed */
    height: auto; /* Adjust as needed */
    border: 1px solid #ccc; /* Example border style */
    margin: 5px;
}

/* Add your custom styles to the previous button */
.swiper-button-prev {
    background-color: red; /* Change the background color */
    color: #fff; /* Change the text color */
    border: none; /* Remove the border */
    border-radius: 50%; /* Make the button round, if desired */
    /* Add any other styles you want */
  }
  
  /* Add your custom styles to the next button */
  .swiper-button-next {
    background-color: red; /* Change the background color */
    color: #fff; /* Change the text color */
    border: none; /* Remove the border */
    border-radius: 50%; /* Make the button round, if desired */
    /* Add any other styles you want */
  }
  