.job-opportunities-container {
  display: flex;
  justify-content: space-between;
  color: var(--white);
}

.image-container {
  width: 55%;
}

.text-container {
  width: 35%;
  font-size: var(--p--step-0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: var(--font-weight-thin);
}

.header {
  margin-bottom: 2rem;
  font-size: var(--p--step-2);
}


.link {
  color: var(--red);
  text-decoration: underline;
  font-weight: var(--font-weight-thick);
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
}

.image {
  width: 100%;
  height: 568px;
  object-fit: cover;
}

@media screen and (max-width: 769px) {
  .image-container {
    display: none;
  }
  .text-container {
    width: 100%;
    height: 500px;
    padding: 0 2rem;
    font-weight: var(--font-weight-thick);
    background-image: url("../../../images/projectImages/construction-worke.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--overlay);
    }
    .header,
    .text,
    .link {
      z-index: 1;
    }
  }
}

